@font-face {
  font-family: "AppleSDGothicNeo";
  font-style: normal;
  font-weight: 500;
  src: local("AppleSDGothicNeoB"),
    /* IE6-IE8 */ url("../font/AppleSDGothicNeoB.woff2") format("woff2"),
    /* Modern Browsers */ url("AppleSDGothicNeoB.woff") format("woff");
}
@font-face {
  font-family: "AppleSDGothicNeo";
  font-style: normal;
  font-weight: 400;
  src: local("AppleSDGothicNeoSB"),
    /* IE6-IE8 */ url("../font/AppleSDGothicNeoSB.woff2") format("woff2"),
    /* Modern Browsers */ url("AppleSDGothicNeoSB.woff") format("woff");
}
@font-face {
  font-family: "AppleSDGothicNeo";
  font-style: normal;
  font-weight: 200;
  src: local("AppleSDGothicNeoR"),
    /* IE6-IE8 */ url("../font/AppleSDGothicNeoR.woff2") format("woff2"),
    /* Modern Browsers */ url("AppleSDGothicNeoR.woff") format("woff");
}
@font-face {
  font-family: "AppleSDGothicNeo";
  font-style: normal;
  font-weight: 100;
  src: local("AppleSDGothicNeoL"),
    /* computer */ url("../font/AppleSDGothicNeoL.woff2") format("woff2"),
    /* Modern Browsers */ url("AppleSDGothicNeoL.woff") format("woff"); /* Modern Browsers */
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;  font-weight: 100;
  src: url(../font/Roboto-Thin.woff2) format('woff2'),
       url(../font/Roboto-Thin.woff) format('woff');}
@font-face {
  font-family: 'Roboto';  font-style: normal;  font-weight: 300;
  src: url(../font/Roboto-Light.woff2) format('woff2'),
       url(../font/Roboto-Light.woff) format('woff');}
@font-face {
  font-family: 'Roboto';   font-style: normal;   font-weight: 400;
   src: url(../font/Roboto-Regular.woff2) format('woff2'),
        url(../font/Roboto-Regular.woff) format('woff'); }
@font-face {
  font-family: 'Roboto';   font-style: normal;   font-weight: 500;
   src: url(../font/Roboto-Medium.woff2) format('woff2'),
        url(../font/Roboto-Medium.woff) format('woff'); }
@font-face {
  font-family: 'Roboto';   font-style: normal;   font-weight: 700;
   src: url(../font/Roboto-Bold.woff2) format('woff2'),
        url(../font/Roboto-Bold.woff) format('woff'); }